@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Keskittää sisällön pystysuunnassa */
  align-items: stretch; /* Korjattu: täyttää koko leveys */
  width: 100%; /* Täyttää selainikkunan leveys */
  min-height: 100vh; /* Varmistaa korkeuden täyttymisen */
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 80px; /* Jätä tilaa yläpalkille */
  
}

header {
  position: fixed; /* Kiinnittää yläpalkin yläreunaan */
  top: 0; /* Asettaa palkin aivan ylös */
  left: 0; /* Asettaa palkin vasemmalle */
  width: 100%; /* Varmistaa, että palkki täyttää koko leveyden */
  z-index: 1000; /* Nostaa palkin muiden elementtien päälle */
  display: flex;
  align-items: center;
  height: 120px; /* Yläpalkin korkeus */
  padding: 0 1rem;
  background-color: #0077B6; /* Yläpalkin taustaväri */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Lisää kevyt varjo */
}

h1.header-text {
  font-size: 3rem; /* Tekstin koko */
  font-weight: bold; /* Korostaa tekstiä */
}

h2 {
  font-size: 1.5rem;
}

img.logo {
  height: 80px; /* Logon korkeus */
  margin-right: 1rem; /* Tilaa logon ja tekstin väliin */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

}

@media (max-width: 768px) {
  .bg-white {
    margin-top: 1rem; /* Pienemmillä näytöillä siirrä hieman */
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; /* Korjattu */
  background-color: #F0F4F8; 
}

input, textarea, select {
  color: black; /* Tekstin väri */
  background-color: white; /* Taustan väri */
  border: 1px solid #ccc; /* Lisää rajaus */
  padding: 0.5rem; /* Lisää hieman tilaa sisällölle */
  border-radius: 4px; /* Pyöristetyt kulmat */
}

.bg-white {
  margin-top: 2rem; /* Siirtää hieman ylemmäksi */
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-text-size {
  font-size: 1.5rem;
}

.add-exercise-container {
  background-color: white;
}

.header-bar {
  background-color: #28a745; /* Vihreä taustaväri */
  padding: 1rem;
  border-top-left-radius: 8px; /* Pyöristetyt kulmat vasemmalla */
  border-top-right-radius: 8px; /* Pyöristetyt kulmat oikealla */
}
.add-exercise-title {
  color: white; /* Valkoinen teksti */
  font-size: 2rem !important; /* Suurempi fonttikoko */
  font-weight: bold; /* Korosta tekstiä */
  text-align: center; /* Keskitä teksti*/
}

.header-bar2 {
  background-color: #FF9F1C;
  color: white; /* Valkoinen teksti */
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 8px; /* Pyöristetyt kulmat vasemmalla */
  border-top-right-radius: 8px; /* Pyöristetyt kulmat oikealla */
}
.weeklystats-title {
  color: white; /* Valkoinen teksti */
  font-size: 2rem !important; /* Suurempi fonttikoko */
  font-weight: bold; /* Korosta tekstiä */
  text-align: center; /* Keskitä teksti*/
}

.progress-title {
  font-size: 1.8rem; /* Suurempi fonttikoko */
  font-weight: bold; /* Korostettu teksti */
  padding-bottom: 1rem;
}

.user-name {
  font-size: 1.2rem; /* Suurempi fonttikoko */
  font-weight: bold; /* Teksti lihavoituna */
  color: #000000; /* Tekstin väri */
}

.target-hours {
  font-size: 1.2rem; /* Suurempi fonttikoko */
  font-weight: bold; /* Teksti lihavoituna */
  color: #000000; /* Tekstin väri */
}

.date-type-name{
  font-size: 1.2rem; /* Suurempi fonttikoko */
  font-weight: bold; /* Teksti lihavoituna */
  color: #000000; /* Tekstin väri */
}

.header-bar3 {
  background-color: #0077B6;
  color: white; /* Valkoinen teksti */
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 8px; /* Pyöristetyt kulmat vasemmalla */
  border-top-right-radius: 8px; /* Pyöristetyt kulmat oikealla */
} 
.search-exercise-title {
  color: white; /* Valkoinen teksti */
  font-size: 2rem !important; /* Suurempi fonttikoko */
  font-weight: bold; /* Korosta tekstiä */
  text-align: center; /* Keskitä teksti*/
}

.header-bar4 {
  background-color: #99a3a8;
  color: white; /* Valkoinen teksti */
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 8px; /* Pyöristetyt kulmat vasemmalla */
  border-top-right-radius: 8px; /* Pyöristetyt kulmat oikealla */
} 

.header-bar h2 {
  margin: 0;
  font-size: 1.5rem;
}
.exercise-list-container {
  background-color: white; /* Valkoinen tausta */
}

.exercise-list-container ul {
  color: black; /* Tekstin väri mustaksi */
  padding: 0;
}

.exercise-list-container li {
  color: black;
  padding: 1rem;
  background-color: #f9f9f9; /* Vaalea tausta jokaiselle riville */
  border-radius: 4px;
  margin-bottom: 1rem; /* Välit rivien välillä */
}

.header-bar h2 {
  margin: 0;
  font-size: 1.5rem;
}

/* Poista-painike */
.bg-red-custom {
  background-color: #FF6B6B; /* Uusi punainen väri */
}

.bg-red-custom:hover {
  background-color: #E05656; /* Tummempi hover-efekti */
}

/* Muokkaa-painike */
.bg-yellow-custom {
  background-color: #FFD166; /* Uusi keltainen väri */
}

.bg-yellow-custom:hover {
  background-color: #E6B856; /* Tummempi hover-efekti */
}

.page-layout {
  display: flex; /* Asetetaan rinnakkain */
  gap: 2rem; /* Väli konttien välillä */
  align-items: flex-start; /* Kohdistetaan yläreunaan */
}

.app-layout {
  display: flex; /* Asetetaan rinnakkain */
  gap: 2rem; /* Väli alueiden välillä */
  align-items: flex-start; /* Kohdistus yläreunaan */
}

.weekly-stats-container p {
  color: black; /* Teksti mustaksi */
  margin: 0.5rem 0; /* Väli tekstien välillä */
  font-size: 1.3rem; /* Sopiva fonttikoko */
}

.weekly-stats-container p strong {
  font-weight: bold; /* Otsikoiden boldaus */
}

.search-exercise-container p {
  color: black; /* Teksti mustaksi */
  margin: 0.5rem 0; /* Väli tekstien välillä */
  font-size: 1.5rem; /* Sopiva fonttikoko */
}

.exercise-management {
  display: flex; /* Asetellaan rinnakkain */
  gap: 2rem; /* Väli alueiden välillä */
  align-items: flex-start; /* Kohdistus yläreunaan */
}

.exercise-list {
  flex-grow: 2; /* Suurempi osuus tilasta */
}

.flex-grow {
  flex-grow: 1; /* Jaa tilaa tasaisesti */
}

.h-96 {
  height: 24rem; /* Asetetaan yhtenäinen korkeus */
}

.map-container {
  width: 100%; /* Kartan leveys prosentteina ikkunasta */
  height: 700px; /* Kartan korkeus */
  margin: 0; /* Ei marginaaleja */
  float: left; /* Sijoita vasempaan reunaan */
  border: 1px solid #ccc; /* Hienovarainen reunus kartalle */
}

.marker-list {
  width: 30%; /* Listan leveys */
  height: auto; /* Mukautuu sisältöön */
  background-color: white; /* Valkoinen tausta */
  border-radius: 8px; /* Pyöristetyt reunat */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hienovarainen varjo */
  padding: 1rem; /* Sisäinen marginaali */
  margin-left: 1rem; /* Väli kartan ja listan välillä */
}

/* Tyylit mobiililaitteille */
@media (max-width: 768px) {
  .add-exercise-container {
    padding: 10px;
  }

  .header-bar {
    text-align: center;
  }
}

/* Tyylit suuremmille näytöille */
@media (min-width: 769px) {
  .add-exercise-container {
    padding: 20px 40px;
  }

  .header-bar {
    text-align: left;
  }
}
